*.gif filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text

# Keep these demo files as normal blobs for Pages
robotprogress-picking.webm -filter -diff -merge -text
robotprogress-pointcloud.webm -filter -diff -merge -text
OpenPose.webm -filter -diff -merge -text
OpenPose.mp4 -filter -diff -merge -text
robot.gif -filter -diff -merge -text
